{% extends 'base.html.twig' %}

{% block title %}Mon Cv
{% endblock %}

{% block body %}

	<style>
		html,
		body,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: "Roboto", sans-serif
		}
	</style>
	<body
		class="w3-light-grey">

		<!-- Page Container -->
		<div
			class="w3-content w3-margin-top" style="max-width:1400px;">

			<!-- The Grid -->
			<div
				class="w3-row-padding">

				<!-- Left Column -->
				<div class="w3-third">

					<div class="w3-white w3-text-grey w3-card-4">
						<div class="w3-display-container">

							<div class="w3-display-bottomleft w3-container w3-text-black"></div>
						</div>
						<br>
						<div class="w3-container">
							<p>
								<i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Developer</p>
							<p>
								<i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Earth</p>
							<p>
								<i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>example@mail.com</p>
							<p>
								<i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>
							<hr>


							<br>

							<!-- Languages Column -->
							<p class="w3-large w3-text-theme">
								<b>
									<i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Langues</b>
							</p>
							<div>
								{% for langue in langues %}
									<p>{{langue.name}}</p>
									<p>{{langue.level}}</p>
								{% endfor %}
							</div>
							<br>
							<br>

								<!-- Loisirs Column -->
								<p class="w3-large w3-text-theme">
									<br>
									<i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Loisirs</p>
							</br>
						</p>
						<div class="w3-light-grey w3-round-xlarge">
							{% for loisir in loisirs %}
								<p>{{loisir.name}}</p>
							{% endfor %}
						</div>
						<div>
							<a href="{{ asset('CV.pdf')}}" type="button" class="btn btn-outline-warning" style="color: #009688">Downdload CV</a>
						</div>
					</div>
					<br>
					<footer class="w3-container w3-teal w3-center w3-margin-top">
						<p>Find me on social media.</p>
						<i class="fa fa-facebook-official w3-hover-opacity"></i>
						<i class="fa fa-instagram w3-hover-opacity"></i>
						<i class="fa fa-snapchat w3-hover-opacity"></i>
						<i class="fa fa-pinterest-p w3-hover-opacity"></i>
						<i class="fa fa-twitter w3-hover-opacity"></i>
						<i class="fa fa-linkedin w3-hover-opacity"></i>
					</footer>
				</div>
				<br>

				<!-- End Left Column -->
			</div>

			<!-- Right Column -->

			<!-- Experiences Column -->
			<div class="w3-twothird">

				<div class="w3-container w3-card w3-white w3-margin-bottom">
					<h2 class="w3-text-grey w3-padding-16">
						<i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Experiences</h2>
					<div class="w3-container">
						{% for experience in experiences %}
							<h5 class="w3-opacity">
								<b>{{experience.title}}</b>
							</h5>
							<h6 class="w3-text-teal">
								<i class="fa fa-calendar fa-fw w3-margin-right"></i>
								{{ experience.startedAt ? experience.startedAt|date('Y-m-d') : ''}}
								-
								<span class="w3-tag w3-teal w3-round">{{ experience.endAt ? experience.endAt|date('Y-m-d') : ''}}</span>
							</h6>
							<p>{{experience.compagny}}</p>
							<p>{{experience.description}}</p>
							<hr>
						{% endfor %}
					</div>
				</div>
				<!-- End Experiences Column -->

				<!-- Compétences Column -->
				<div class="w3-container w3-card w3-white">
					<h2 class="w3-text-grey w3-padding-16">
						<i class="fa fa-asterisk fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Compétences</h2>
					<div class="w3-container">
						{% for competence in competences %}
							<h5 class="w3-opacity">
								<b>{{competence.name}}</b>
							</h5>
							<hr>
						{% endfor %}
					</div>
				</div>
				<!-- End Compétences Column -->

				<!-- Formations Column -->
				<div class="w3-container w3-card w3-white">
					<h2 class="w3-text-grey w3-padding-16">
						<i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Formations</h2>
					<div class="w3-container">
						{% for formation in formations %}
							<h5 class="w3-opacity">
								<b>{{formation.name}}</b>
							</h5>
							<h6 class="w3-text-teal">
								<i class="fa fa-calendar fa-fw w3-margin-right"></i>
								{{ formation.startedAt ? formation.startedAt|date('Y-m-d') : ''}}
								-
								<span class="w3-tag w3-teal w3-round">{{ formation.endAt ? formation.endAt|date('Y-m-d') : ''}}</span>
							</h6>
							<p>{{formation.school}}</p>
							<p>{{formation.level}}</p>
							<p>{{formation.description}}</p>
							<hr>
						{% endfor %}
					</div>
				</div>
				<!-- End FormationsColumn -->

				<!-- End Right Column -->
			</div>
			<!-- End Grid -->
		</body>
	</div>
	<!-- End Page Container -->
</body></div></body>{% endblock %}
